.android/
.cache/
.dropbox/
.gnome/
.gnome2/
.gnupg/
.gradle/
.ipython/
.java/
.jupyter/
.kde/
.local/
.mozilla/
.pki/
.shutter/
.swt/
.texlive2015/
.thumbnails/
.wine/
Android/
AndroidStudioProjects/
Desktop/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
Public/
Templates/
Videos/
bin/
workspace/
